{
  "presets": [
    "es2015",
    "stage-0"
  ],
  "plugins": [
    "transform-runtime",
    [
      "component",
      {
          "libraryName": "weex-ui",
          "libDir": "packages",
          "style": false
      }
  ]
  ]
}
