.Card
  padding 8vw
  border-radius 5vw
  background $cleanColor

+prefix-classes('Card__')
  .Blue
    background-color $secondy
    color $cleanColor

  .Border
    border 1px solid #dcdcdc

  .Padding--5
    padding 5vw

  .Title,
  .Description
    margin-bottom 2vw

  .Title
    p
      font-size 5vw

  .Description
    p
      color #3f4867

  .Label
    justify-content flex-end

    p
      margin-left: 5px

    figure
      width 15px
      height 15px


  .Label--category
    color #e9514f

  .Label--tag
    color #3da4e0