.Card
  padding 8vw
  border-radius 5vw
  background $cleanColor

+prefix-classes('Card__')
  .Image
    background center center / cover no-repeat;
    height 30vw
    margin -5vw
    border-radius 5vw 5vw 0 0

  .Number
    margin-bottom -3vw
    
    p
      line-height: 10vw
      min-width: 12vw
      padding 0 2vw
      text-align center
      background $secondy
      border-radius 50vw
      color $cleanColor
      border 4px solid currentColor
      font-size 6vw
  
  .Blue
    background-color $secondy
    color $cleanColor

  .Border
    border 1px solid #dcdcdc

  .Padding--5
    padding 5vw

  .Title,
  .Description
    margin-bottom 2vw

  .Title
    p
      font-size 5vw

  .Description
    p
      color #3f4867

  .Label
    justify-content flex-end

    p
      margin-left: 5px

    figure
      width 15px
      height 15px


  .Label--category
    color #e9514f

  .Label--tag
    color #3da4e0