+prefix-classes('Field__')
  .Input,
  .Select
    height 12vw
    padding 4vw
    border none
    border-radius 1.5vw
    font-size 6vw

  .Select
    background url("~@/assets/images/arrow-down.svg") right 8% center / 10% no-repeat

  .Border--Blue
    border 1px solid #359adb