+prefix-classes('Field__')
  .Input,
  .Select
    height 90px
    padding 20px
    border none
    border-radius 10px
    font-size 40px

  .Select
    background url("~@/assets/images/arrow-down.svg") right 8% center / 10% no-repeat

  .Border--Blue
    border 1px solid #359adb