$secondy = #3599db;
$cleanColor = #FFF;

body
  .wrapper
    padding 5%

  .Card
    padding 16px
    border-radius 16px
    background $cleanColor
    font-size 25px

    &.Blue
      background-color $secondy
      color $cleanColor
