@import 'variable.styl'
@import 'card.styl'

.wrapper
  padding 0

.Block
  display block

.Inline__Block
  display inline-block

.Text
  color #333

.Relative
  position relative

.Fixed
  position fixed

.Absolute
  position absolute

.Static
  position static

+prefix-classes('Position__')
  .Top
    top 0

  .Left
    left 0

+prefix-classes('Text__')
  .White
    color $cleanColor

  .Blue
    color #297bb1;

  .Bold
    font-weight: bold

  .Right
    text-align right

  for num in (2..10)
    size = (num * 2)
    .Size--{num}
      font-size "%svw" % size

+prefix-classes('Margin__')
  for num in (1..10)
    size = (num * 4)
    .Bottom--{num}      
      margin-bottom "%svw" % size
    
    .Top--{num}      
      margin-top "%svw" % size

    .Right--{num}      
      margin-right "%svw" % size

    .Left--{num}      
      margin-left "%svw" % size

+prefix-classes('Padding__')
  for num in (1..10)
    size = (num * 4)
    .Bottom--{num}      
      padding-bottom "%svw" % size
    
    .Top--{num}      
      padding-top "%svw" % size

    .Right--{num}      
      padding-right "%svw" % size

    .Left--{num}      
      padding-left "%svw" % size

.Flex
  display flex
  flex-direction row

+prefix-classes('Flex__')
  .Middle
    align-items center

  .SpaceBetween
    justify-content space-between

  .SpaceAround
    justify-content space-around

  .Wrap
    flex-wrap wrap

for num in (1..11)
  .Width--{num}
    width "calc(%s% - 10px)" % (num * 8.33)

  .Width--12
    width: 100%
    

.weex-root figure.checkbox
  margin-right 5px

@keyframes fadeFromTop
  from
    transform translateY(-2vw)
    opacity 0

  to
    transform translateY(0)
    opacity 1

.FadeFromTop
  transform translateY(-2vw)
  opacity 0
  animation fadeFromTop .5s ease forwards

.Modal
  @extend .Fixed
  @extend .Position__Top
  @extend .Position__Left

  z-index 6
  width 100%
  height 100vh
  overflow auto
  background #FFF
